allow logpersist logpersist:capability { dac_override dac_read_search };
allow logpersist cache_file:dir rw_dir_perms;
allow logpersist cache_file:file rw_file_perms;
