allow priv_app debugfs_ion:dir { search };
allow priv_app sysfs_android_usb:file { open };
allow priv_app mnt_vendor_file:dir { search };
allow priv_app proc_interrupts:file { open };
allow priv_app proc_modules:file { open };
allow priv_app adb_data_file:dir r_dir_perms;
allow priv_app adb_data_file:file rx_file_perms;

get_prop(priv_app, vendor_default_prop)
get_prop(priv_app, apexd_prop)
