allow radio vtservice_service:service_manager find;

# IMS needs to read settings
allow radio system_app_data_file:dir r_dir_perms;
allow radio system_app_data_file:file r_file_perms;
